
extends layout

block prepend title
  !{page.title} - 

append head
  link(rel="stylesheet", href="article.css")

block content
  article.post
    header
      h1= page.title
      #metadata
        time.publishDate(datetime=moment(page.date).format('YYYY-MM-DD'))= moment(page.date).format('MMMM Do, YYYY')
        iframe(border=0, scrolling="no", width=78, height=17, allowtransparency=true, frameborder=0,
 style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;",
 src="http://www.instapaper.com/e2?url=" + page.getLocation('http://kevingorski.com') + "&title=" + page.title)

    section.content!= page.html + '<div class="flueron">&#10087;</div>'

    if page.metadata.series
      - var articles = _.chain(contents.articles._.directories).map(function(item) {
      -   return item.index
      - }).compact().filter(function(item) {
      -   return item.metadata.series === page.metadata.series
      - }).sortBy(function(item) {
      -   return item.date
      - }).value()

      section.series
        h3
          | The 
          em= page.metadata.series
          |  Series:
        ol.articles
          each article in articles
            li.article
              time.publishDate(datetime=moment(article.date).format('YYYY-MM-DD'))= moment(article.date).format('MMMM Do')
              if article.title === page.title
                span= article.title
              else
                a(href=article.url)= article.title