mixin navigation(exclude, header)
  - var allLinks = [ { id: 'home', name: 'Home', href: '/' }, { id: 'archive', name: 'Writing', href: '/archive.html'}, { id: 'portfolio', name: 'Projects', href: '/projects-&-portfolio.html'}, { id: 'rss', name: 'RSS', href: '/feed.xml' }]
  - if(header) {
  -   exclude = (!exclude) ? [] : (exclude.prototype === Array.prototype) ? exclude : [exclude];
  -   exclude.push('home'); 
  - }
  - var filteredLinks = _.chain(allLinks).filter(function(link) {
  -   return !exclude || exclude.indexOf(link.id) === -1
  - }).value()
  nav
    ul
      each link, index in filteredLinks
        li
          - if (index > 0)
            .spacer &middot; 
          a(href=link.href)=link.name


!!! 5
html(class='no-js', lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      link(rel="dns-prefetch", href="//use.typekit.net")
      title
        block title
          = locals.author
      meta(name="description", content=locals.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      script
        (function() {
          var config = { kitId: 'cyf1blw', scriptTimeout: 3000 };
          var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
        })();

      // build:css /css/styles.css
      link(rel="stylesheet", href="/css/all.css")
      // endbuild

      script(src="/js/libs/html5shiv.js")

      link(rel="alternate", href="/feed.xml", type="application/rss+xml", title=locals.description)
      link(rel="sitemap", type="application/xml", title="Sitemap", href="/sitemap.xml")
  body
    //if lt IE 7
      p.chromeframe Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.

    block header
      header.clearfix
        .center
          .grid
            h1
              a(href="/") Kevin Gorski
            +navigation(locals.exclude, true)

    #content(role="main").clearfix
      .center
        .grid
          block content

    footer.clearfix
      .center
        .grid
          block footer
            +navigation(locals.exclude)

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7004300-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();